@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Intro  */

.intro {
    width: 100%;
    height: 100vh;
    background: url(../img/Background.png) center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.intro__title {
     width: 470px;
    height: 126px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
}

.intro__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #F7F3F2;
    margin: 28.5px auto 33.5px;
}

/* container */

.container { 
    width: 100%;
    max-width: 990px;
    padding: 0 50px;
    margin: 0 auto;
}


/* Header */
header {
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 0;
}

.header__logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    text-transform: uppercase;
}



/* Nav */

.nav__link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    transition: 0.2s linear;
    margin: 0 10px;
}

.nav__link:hover {
    color: #FFC401;
}

/* Button */

.btn {
    text-decoration-line: none;
    color: #ffffff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    background-color: red;
    border: 2px solid #fffff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 40px;
}

.section__title__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.see__other__partners {
    width: 180px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FF4E50;
    text-decoration: none;
}

.btn__search__partners {
    width: 172.12px;
    height: 40px;
    background: #FF4E50;
    border-radius: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Section*/
/*First Section */
.first-section {
    text-align: center;
}


.section__header__title__text{
    padding: 90px 0 35px 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #444444;
}

.section__title {
    width: 941px;
    height: 361px;
    margin: 95px auto 0;
}

.section__title__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #444444;
}

.section__header__image {
    display: flex;
    justify-content: space-around;
}

.section__image__partner {
    display: flex;
    justify-content: space-between;
    margin: 35px auto 17px;
}

/*Image Step*/

.image__step1 {
    background: url(../img/step-1.png)  no-repeat;
    width: 300px;
    height: 400px;
}
.image__step2{
    background: url(../img/step-2.png)  no-repeat;
    width: 300px;
    height: 400px;
}
.image__step3{
    background: url(../img/step-3.png)  no-repeat;
    width: 300px;
    height: 400px;
}

/*Image Rectangle*/
.background__rectangle1 {
   position: relative;
    width: 70px;
    height: 20px;
    left: 25px;
    top: 219px;
    background: #FF4E50;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner__step1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.background__rectangle2 {
    position: relative;
    width: 70px;
    height: 20px;
    left: 25px;
    top: 250px;
    background: #FF4E50;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner__step2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
}



.background__rectangle3 {
    position: relative;
    width: 70px;
    height: 20px;
    left: 25px;
    top: 219px;
    background: #FF4E50;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner__step3 {
   
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
}


/*Image Description*/

.image1__title, .image3__title {
    position: relative;
    width: 250px;
    height: 58px;
    left: 25px;
    top: 240px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: #FFFFFF;
    
}


.image1__subtitle, .image3__subtitle {
    position: relative;
    width: 250px;
    height: 58px;
    left: 25px;
    top: 260px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #E3E3E3;

}

.image2__title {
    position: relative;
    width: 250px;
    height: 29px;
    left: 25px;
    top: 260px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.image2__subtitle {
    position: relative;
    width: 250px;
    height: 57px;
    left: 25px;
    top: 275px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    color: #E3E3E3;

}

/*Name Patners*/

.name {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    padding: 17px 0 0 0;
}

.image__partner__description {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #666666;
    padding: 12px 0 0 0;
}



/*Second section*/
.second__section__image__description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;   
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

/*Image Second Container*/

.second__section__header__image1 {
    background: url(../img/sports-and-activis.png) no-repeat;
    width: 300px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second__section__header__image2 {
    background: url(../img/wellness-and-health.png) no-repeat;
    width: 300px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second__section__header__image3 {
    background: url(../img/extreme-sports-and-expedition.png) no-repeat;
    width: 300px;
    height: 310px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.second__section__header__image4 {
    background: url(../img/games.png) no-repeat;
    width: 300px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second__section__header__image5 {
    background: url(../img/culture-and-education.png) no-repeat;
    width: 620px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second__section__header__image6 {
    background: url(../img/enjoment-and-relaxation.png) no-repeat;
    width: 620px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second__section__header__image7{
    background: url(../img/travelling.png) no-repeat;
    width: 300px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Second Section Blocks*/
.first__block, .second__block, .third__block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}




/*Thirs Section*/
.third__section__header__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #666666;
}

.third__section__header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Input*/

.input__field__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 37px 0 100px;
}

.input {
    margin:0 10px 0 0;
    width: 299px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
    border-radius: 3px;
}


/*Footer*/


hr {
    background-color: red;
    height: 3px;
    border-color: transparent;
    margin-bottom: 40px;
}


.footer__inner {
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    width: 100%;
    height: 200px;
}



/**/



.dreamshare {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FF4E50;
}

.designed__by {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    color: #CCCCCC;
    align-items: center;
}

.bitmap {
    width: 110px;
    height: 24px;
    padding-top: 7px;
}


/*Media*/

@media (max-width: 970px) {
    .intro {
        width: 970px;
        height: 700px;
    }
    .intro__title {
        font-size: 44px;
    }
    .intro__subtitle {
        font-size: 20px
    }
    .btn {
        width: 200px;
        height: 30px;
        font-size: 13px;
    }
    .section__header__title__text {
        font-size: 22px;
        line-height: 27px;
    }
    .inner__step1, .inner__step2, .inner__step3 {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 2px;
    }
    .background__rectangle1, .background__rectangle2, .background__rectangle3{
        width: 70px;
        height: 20px;
    }
    .image1__title, .image2__title, .image3__title
     {
        font-size: 24px;
        line-height: 20px;
        width: 196px;
        height: 58px;
    }

    .image1__subtitle, .image3__subtitle {  
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        width: 196px;
        height: 76px;
    }
    .image2__subtitle {
        width: 196px;
        height: 37px;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
     }
}